:root {
  --background-color: #f5f5f5;
  --text-color: #82828b;
  --title-color: #000000;
  --border-color: #afb1bd;
  --primary-color: #008475;
  --secondary-color: #f46036;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  cursor: pointer;
  border: none;
  background: none;
}

.main-btn {
  font-family: Galano Grotesque;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -2%;
  background: var(--primary-color);
  color: #ffffff;
  padding: 16px 32px;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
}

.main-btn:hover {
  color: var(--primary-color);
  background: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-family: Messina Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  border: 2px solid var(--border-color);
  border-radius: 8px;
}

.search-input {
  border: none;
  font-family: Messina Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--title-color);
  width: 200px;
}
.search-input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.bx-search-alt {
  font-size: 20px;
  color: var(--text-color);
}

.card-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 40px;
  opacity: 1;
  gap: 10px;
  border-radius: 8px;
  border-width: 1px;
  padding: 10px;
  background: var(--secondary-color);
  color: #f5f5f5;
}

.bx-cart {
  font-size: 20px;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

@media (max-width: 860px) {
  .nav-links {
    display: none;
  }
}
