.footer {
  height: 671px;
  background: var(--primary-color);
  color: #fff;
}

.footer-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.main-bloks {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.link-boloks {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Galano Grotesque;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.link-boloks a:hover {
  transform: scale(1.09);
}

.title-alt {
  font-family: Galano Grotesque;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  opacity: 0.5;
}

.submit-input input {
  border: none;
  background: none;
  color: #fff;
  padding: 12px;
}

.submit-input input:focus {
  outline: none;
}

.submit-input {
  border-radius: 12px;
  margin-top: 14px;
  border: 1px solid var(--text-color);
  overflow: hidden;
}

.submit-btn {
  font-family: Galano Grotesque;
  font-weight: 400;
  font-size: 14px;
  line-height: 174%;
  letter-spacing: 0%;
  color: #fff;
  background: #c5d86d;
  padding: 8px 23.5px;
}

hr {
  height: 1px;
  color: var(--text-color);
  width: 100%;
  margin-top: 65px;
}

.footer-line {
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
}

.pay-methods {
  display: flex;
  gap: 8px;
}
