.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../pictures/hero-img.png"),
    linear-gradient(
      90deg,
      rgba(0, 132, 117, 1) 0%,
      rgba(0, 132, 117, 1) 5%,
      rgba(244, 96, 54, 1) 100%
    );
  color: #fff;
  margin-bottom: 120px;
}

.hero-containe {
  max-width: 608px;
}

.title {
  font-family: Galano Grotesque;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
}

.paragraph {
  font-family: Messina Sans;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 28px;
}
