.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-right: 40px;
}

.nav-link {
  font-family: Messina Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--text-color);
}

.nav-link:hover {
  color: var(--primary-color);
}

.active {
  color: var(--primary-color);
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}
